<% content_for :title, t('.breadcrumb') %>
<% content_for :breadcrumb do %>
  <div class="row has-breadcrumb">
    <ol class="breadcrumb">
      <li><%= link_to t('obj.registry'), "/container_registry" %></li>
      <li class="active"><%= t '.breadcrumb' %></li>
    </ol>
  </div>
<% end %>

<%= form_for @registry, url: "/container_registry" do |registry| %>
  <%= render partial: 'container_registry/form', locals: { registry: registry } %>
<% end %>
