<div class="panel panel-default">
  <div class="panel-body">
    <p class="text-center">CPU Usage (%)</p>
    <%= area_chart "#{container_charts_cpu_path(container.id)}.json",
                   points: false,
                   download: true,
                   refresh: 60,
                   label: "CPU %",
                   curve: false,
                   legend: false
    %>
  </div>
</div>
