<div class="row">
  <div class="col-md-12 text-center">
    <h3>Access Denied</h3>
    <p class="lead">Please <b><a href="mailto:support@computestacks.com">contact support</a></b> for assistance, or <b><a href="/admin/settings/license/edit">update your license</a></b>.</p>
  </div>
</div>