<tr>
  <td class="content-cell" style="box-sizing: border-box; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; padding: 35px; word-break: break-word;">
    <%= raw @body %>
    <%= render partial: "collaboration_mailer/invite_footer" %>
  </td>
</tr>
