<table class="table">
  <thead>
  <tr>
    <th>Hostname</th>
    <th>Source Image</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% if entries.empty? %>
    <tr>
      <td colspan="3" class="text-center">No Host Entries</td>
    </tr>
  <% end %>
  <% entries.each do |i| %>

    <tr>
      <td><%= i.hostname %></td>
      <td><%= link_to i.source_image.label, "/container_images/#{i.source_image.id}" %></td>
      <td class="text-right">
        <div class="btn-group">
          <%= link_to '<i class="fa fa-wrench"></i>'.html_safe, "/container_images/#{image.id}/custom_host_entries/#{i.id}/edit", class: 'btn btn-xs btn-default' %>
          <%= link_to '<i class="fa fa-trash"></i>'.html_safe, "/container_images/#{image.id}/custom_host_entries/#{i.id}", method: :delete, data: { confirm: t('confirm_prompt') }, class: 'btn btn-xs btn-danger' %>
        </div>
      </td>
    </tr>

  <% end %>
  </tbody>
</table>
