.idea
.vscode
.DS_Store
.env
.envrc
log/
test/
config/database.yml
config/database.yml.sample
lib/test
lib/dev
.ruby-version
Vagrantfile
Vagrantfile.sample
README.md
doc/
envrc.sample
Procfile
Procfile.sample
Dockerfile
.dockerignore
.gitignore
.gitlab-ci.yml
.rubocop.yml
.yardopts
.browserslistrc
tmp/
