export LOCALE=en
export CURRENCY=USD
export CS_SSH_KEY=/home/vagrant/.ssh/id_rsa
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES
export GITHUB_GEM_PULL_USER=changme
export GITHUB_GEM_PULL_TOKEN=changme
export RUBYOPT='-W:no-deprecated'
