# Secrets - Generate with: `./bin/rails secret`
export SECRET_KEY_BASE=
export USER_AUTH_SECRET=

# DEV LB
export DEV_LB_HOSTNAME="a.cstacks.local"

# Linux should be `localhost`
# Using Colima on mac? `colima start --network-address && colima status -e` to get the IP.
# Note, you may also need to run the following commands if you don't see an address.
#
# `sudo /usr/libexec/ApplicationFirewall/socketfilterfw --add /usr/libexec/bootpd`
# `sudo /usr/libexec/ApplicationFirewall/socketfilterfw --unblock /usr/libexec/bootpd`
#
# See [this github issue](https://github.com/abiosoft/colima/issues/458#issuecomment-1989839779) for more details.
#
export DOCKER_IP=localhost

# Vagrant IP will be assigned on first startup, and should not change until you destroy the VM.
# This IP should be accessible from your local machine.
export VAGRANT_VM_IP=localhost

##
# You should not need to change anything else below this section.
##

export LOCALE=en
export CURRENCY=USD
export CS_SSH_KEY=lib/dev/keys/id_ed25519
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES
export INGRESS_TEST_URI=localhost/ingress
export BUNDLE_GEMFILE=Gemfile.common

# PowerDNS And ACME (used for testing).
export PDNS_DNS_PORT=55003
export PDNS_API_PORT=55004
export ACME_API_PORT=55005

# Local Resolver for testing
export RESOLVER_LIST="$DOCKER_IP"
export RESOLVER_PORT="$PDNS_DNS_PORT"

# this will be copied from the Vagrant VM during the rake task `setup_dev`.
export CONSUL_TOKEN_PATH=".consul.token"

# Postgres
export DB_PORT=55001
export DEV_DB_URL=postgresql://controller:controller@$DOCKER_IP:$DB_PORT/computestacks
export TEST_DB_URL=postgresql://controller:controller@$DOCKER_IP:$DB_PORT/computestacks_test

# Redis
export REDIS_HOST="$DOCKER_IP"
export REDIS_PORT=55002
