# -*- mode: ruby -*-
# vi: set ft=ruby :

# Read `./doc/DEV_SETUP.md`.
Vagrant.configure("2") do |config|

  config.vm.box = "bento/ubuntu-22.04"
  config.vm.synced_folder '.', '/vagrant', disabled: true

  config.vm.provider :libvirt do |vm|
    vm.driver = "kvm"
    vm.title = "computestacks"
    vm.description = "ComputeStacks Controller"
    vm.memory = 4096
    vm.cpus = 4
    vm.cputopology sockets: "1", cores: "2", threads: "2"
  end

  # For use on MacOS M1 with vmware fusion player.
  config.vm.provider "vmware_desktop" do |vm|
    vm.vmx["memsize"] = "4096"
    vm.vmx["numvcpus"] = "4"
  end

  config.vm.provision "shell", path: "lib/dev/vagrant_provision-node.sh"

end
