<div class="row">
  <div class="col-md-12 text-center">
    <h3>System Disabled</h3>
    <p class="lead">Please <b><a href="mailto:<%= Setting.general_support_line %>">contact support</a></b> for assistance</a></b>.</p>
  </div>
</div>