<% content_for :title, "Maintenance Mode" %>
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h2>Maintenance In Progress</h2>
      <p>Were currently performing maintenance on this feature. Please check back shortly.</p>
    </div>
  </div>
</div>