<% content_for :title, "Account Suspended" %>
<div class="container-fluid" id="doc">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron text-center">
        <h2>Account Suspended</h2>
        <p>Please contact support at <%= Setting.general_support_line %>.</p>
      </div>
    </div>
  </div>
</div>
