<div class="panel-heading" style="padding:2px;"></div>
<div class="panel-body">
  <strong>WP USERS</strong>
</div>
<% if @users.empty? %>
  <div class="panel-body text-center">
    No users found
  </div>
<% else %>
  <table class="table-list">
    <% @users.each do |user| %>
      <tr>
        <td><%= user['display_name'] %></td>
        <td><%= link_to "Login <i class='fa fa-external-link'></i>".html_safe, "/container_services/#{@service.id}/wordpress/sso?user=#{user['user_login']}", method: :post, target: "_blank" %></td>
      </tr>
    <% end %>
  </table>
<% end %>
