<div class="panel panel-default">
  <div class="panel-body">
    <p class="text-center">Memory Usage (MB)</p>
    <%= area_chart "#{container_service_charts_memory_path(service.id)}.json",
                   points: false,
                   download: true,
                   refresh: 30,
                   label: 'MB',
                   curve: false,
                   legend: service.containers.count > 6 ? false : 'bottom'
    %>
  </div>
</div>
