<div id="cpu_mem_chart" data-resource="<%= container_path(container) %>/container_charts/cpu_mem">
  <div class="text-center" style="padding: 25px 0;">
    <%= icon('fa-solid fa-spin', 'rotate') %> <%= t 'common.loading' %>
  </div>
</div>
