<div id="cpu_mem_chart" data-resource="<%= container_path(container) %>/container_charts/cpu_mem">
  <div class="text-center" style="padding: 25px 0;">
    <i class="fa fa-refresh fa-spin"></i> <%= t 'common.loading' %>
  </div>
</div>