<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-12">
        <p class="lead">Region</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <% locations.each_with_index do |i,k| %>
            <%= check_box_tag 'location_id', i.id, order_session.location == i, id: "location-#{i.id}", style: "display:none" %>
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div id="location_<%= i.id %>" data-id="<%= i.id %>" class="panel panel-default container-order-card container-location-selector <% if order_session.location == i %>active<% end %>">
                <div class="panel-body"><%= i.name %></div>
              </div>
              <% content_tag :div, nil, class: 'clearfix visible-md-block'  if k == locations.count && ((k + 1) % 3).zero? %>
              <% content_tag :div, nil, class: 'clearfix visible-sm-block'  if k == locations.count && ((k + 1) % 2).zero? %>
              <% content_tag :div, nil, class: 'clearfix visible-xs-block'  if k == locations.count && ((k + 1) % 2).zero? %>
              <% content_tag :div, nil, class: 'clearfix visible-lg-block'  if k == locations.count && ((k + 1) % 4).zero? %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
