<div class="col-sm-4">
  <div class="panel panel-body">
    <strong><%= "#{pluralize(@network.errors.count, "error")} prevented this network from being saved:" %></strong>
    <ul class="list-unstyled">
      <% @network.errors.full_messages.each do |msg| %>
        <li style="color: red;"><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>