<div class="row">
  <% if @nodes.empty? %>
    <div class="col-xs-12">
      <div class="text-center" style="margin-top:20px;">
        <p class="lead">No Nodes found.</p>
      </div>
    </div>
  <% end %>
  <%= render partial: "admin/nodes/list", locals: { nodes: @nodes } unless @nodes.empty? %>
</div>
