<div class="panel-body">
  <ul class="list-inline">
    <li class="list-inline-item"><%= link_to "#{image_tag("icons/filezilla.png", width: 30)} Download Filezilla Profile".html_safe, "/users/connection_helper/filezilla", method: :post %></li>
    <li class="list-inline-item"><%= link_to "#{image_tag("icons/panic-transmit.png", width: 30)} Download Transmit Favorite".html_safe, "/users/connection_helper/transmit", method: :post %></li>
  </ul>
</div>
