<% content_for :title, t('suspended.title') %>
<div class="row">
  <div class="col-md-12">
    <h3><%= t('suspended.title')  %></h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p><%= t('suspended.msg') %></p>
  </div>
</div>
