<div class="panel-body">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <%= f.label :user_email, 'Email Address' %>
        <%= f.text_field :user_email, class: 'form-control' %>
      </div>
    </div>
  </div>
</div>
