<div class="panel panel-default">
  <div class="panel-body">
    <p class="text-center">Memory Usage (MB)</p>
    <%= area_chart "#{container_charts_memory_path(container.id)}.json",
                   points: false,
                   download: true,
                   refresh: 60,
                   label: 'MB',
                   curve: false,
                   legend: false
    %>
  </div>
</div>
