<% content_for :title, t('obj.images') %>

<% content_for :breadcrumb do %>
  <div class="row has-breadcrumb">
    <ol class="breadcrumb pull-left">
      <li class="active"><%= t('deployments.shared.main_nav.images') %></li>
    </ol>
    <ol class="breadcrumb breadcrumb-action text-right">
      <li><%= link_to raw("<i class='fa fa-cubes'></i>&nbsp;&nbsp;&nbsp;#{t('deployments.shared.main_nav.new_image')}"), "/container_images/new", class: 'btn btn-sm btn-default' %></li>
    </ol>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <table id="container-image-table" class="table table-hover" style="width:100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Owner</th>
          <th>Image</th>
          <th>Tag</th>
          <th></th>
        </tr>
      </thead>
    </table>
  </div>
</div>
