<div class="panel panel-default">
  <div class="panel-body">
    <p class="text-center">Load Balancer Sessions </p>
    <%= area_chart "#{container_service_charts_load_balancer_sessions_path(service.id)}.json",
                   points: false,
                   download: true,
                   refresh: 60,
                   label: '',
                   curve: false,
                   legend: false
    %>
  </div>
</div>
