<table class="table">
  <% unless plugins.empty? %>
    <thead>
    <tr>
      <th colspan="2">Name</th>
    </tr>
    </thead>
  <% end %>
  <tbody>
  <% if plugins.empty? %>
    <tr>
      <td colspan="3" class="text-center">No Active Plugins</td>
    </tr>
  <% end %>
  <% plugins.each do |i| %>

    <tr>
      <td>
        <%= current_user.is_admin? ? link_to(i.name.titleize, admin_container_image_plugin_path(i)) : i.name.titleize %>
        <% unless i.available? %>
          <span class="label label-danger">Not Configured</span>
        <% end %>
      </td>
      <% if i.can_enable?(current_user) %>
        <td class="text-right">
          <div class="btn-group">
            <%= link_to icon('fa-solid', 'trash'), container_image_plugin_path(image, i), method: :delete, data: { confirm: "Are you sure? This will also remove the plugin from all containers and pause billing." }, class: 'btn btn-xs btn-danger' %>
          </div>
        </td>
      <% else %>
        <td></td>
      <% end %>
    </tr>

  <% end %>
  </tbody>
</table>
