<% content_for :title, t('users.project_notifications.title') %>

<% content_for :breadcrumb do %>
  <div class="row has-breadcrumb">
    <ol class="breadcrumb">
      <li><%= link_to t('obj.deployments'), "/deployments" %></li>
      <li><%= link_to @deployment.name, deployments_path(@deployment) %></li>
      <li class="active"><%= t('users.project_notifications.title') %></li>
    </ol>
  </div>
<% end %>


<div class="row">
  <div class="col-sm-12">
    <%= render partial: 'notifications/list', locals: { notifications: @notifications, base_path: "/deployments/#{@deployment.id}/notification_rules" } %>
  </div>
</div>
