.panel-body
  .row
    .col-sm-6: .form-group
      = label_tag :external_id, 'External ID'
      = f.text_field :external_id, class: 'form-control'

      span.help-block Reference for external billing system

    .col-sm-6: .form-group
      = label_tag :product_id, 'Product'
      - if available_products(@billing_plan, @billing_resource.product).empty?
        p: em Error! No products available.
      - else
        = collection_select(:billing_resource, :product_id, available_products(@billing_plan, @billing_resource.product), :id, :label, {}, { class: 'form-control chosen-select-standard' })

.panel-footer
  = link_to t('actions.cancel'), @plan_base_url, class: 'btn btn-default', style: 'margin-right:10px;'
  = submit_tag t('actions.save'), class: 'btn btn-success'
  = link_to "Delete", "#{@plan_base_url}/billing_resources/#{@billing_resource.id}", method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger pull-right' if controller.action_name == 'edit'
