<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-12 remote-resource refresh" data-url="/admin/alert_notifications">
    <%= render partial: 'admin/alert_notifications/list', locals: { alerts: alerts } %>
  </div>
</div>
