<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <strong>RECENT FAILED EVENTS</strong>
      </div>
      <%= render partial: 'admin/event_logs/list', locals: { logs: events, root_path: '/admin/event_logs' } %>
    </div>
  </div>
</div>
