.panel-body
  - if price.billing_resource.product.package
    .row
      .col-sm-6: .form-group
        = label_tag :price, 'Price'
        = f.text_field :price, :class => "form-control", required: true
        = f.hidden_field :term
        span.help-block= resource_price_form_helper price.billing_resource
      .col-sm-6: .form-group
        = label_tag :currency, 'Currency'
        select.form-control.chosen-select-standard name="billing_resource_price[currency]"
          - selected = @price.id.nil? ? ENV['CURRENCY'] : @price.currency
          - available_currencies.each do |v,k|
            - if selected == k
              option value="#{k}" selected="selected"= v
            - else
              option value="#{k}"= v
        span.help-block Currency is determined by the user's currency setting.
  - else
    .row
      .col-sm-6: .form-group
        = label_tag :price, 'Price'
        = f.text_field :price, :class => "form-control", required: true
        = f.hidden_field :term
        span.help-block= resource_price_form_helper price.billing_resource

      .col-sm-6: .form-group
        .row: .col-md-12
          .row
            .col-xs-6
              = label_tag :max_qty, 'Maximum Allowed Quantity'
              = f.number_field :max_qty, :class => "form-control"

            .col-xs-6
              label No Set Limit
              - if @price.max_qty.nil?
                input.form-control type="checkbox" name="unlimited" checked="checked"
              - else
                input.form-control type="checkbox" name="unlimited"
          .row: span.help-block
            | When using multiple qty tiers, check to set the final price for when all tiers have been reached.
    .row: .col-md-12: .form-group
      = label_tag :currency, 'Currency'
      select.form-control.chosen-select-standard name="billing_resource_price[currency]"
        - selected = @price.id.nil? ? ENV['CURRENCY'] : @price.currency
        - available_currencies.each do |v,k|
          - if selected == k
            option value="#{k}" selected="selected"= v
          - else
            option value="#{k}"= v
      span.help-block Currency is determined by the user's currency setting.

  .row: .col-md-12: .form-group
    = label_tag :regions, 'Regions'
    = collection_select(:price, :region_ids, @regions, :id, :name, {}, { class: 'form-control chosen-select-standard', multiple: true, name: 'billing_resource_price[region_ids][]' })
    span.help-block Multiple regions can be attached to a single price.


.panel-footer
  - if @price.billing_phase.prices.empty?
    = link_to t('actions.cancel'), "/admin/billing_plans/#{@billing_plan.id}", class: 'btn btn-default', style: 'margin-right:10px;'
  - else
    = link_to t('actions.cancel'), "/admin/billing_plans/#{@billing_plan.id}/billing_phases/#{@price.billing_phase.id}", class: 'btn btn-default', style: 'margin-right:10px;'
  = submit_tag t('actions.save'), class: 'btn btn-success'
  = link_to "Delete", "#{@base_url}/billing_resource_prices/#{@price.id}", method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger pull-right' if controller.action_name == 'edit'
