<div id="network_req_chart" data-resource="<%= container_service_path(service) %>/service_charts/network">
  <div class="text-center" style="padding: 25px 0;">
    <i class="fa fa-refresh fa-spin"></i> <%= t 'common.loading' %>
  </div>
</div>