<div class="panel panel-default">
  <div class="panel-body">
    <strong><%= t('container_images.ingress_rules.obj_plural').upcase %></strong>
    <%= link_to '<i class="fa fa-cogs"></i>'.html_safe, "/container_services/#{service.id}/ingress", class: 'pull-right' %>
  </div>
  <%= render partial: 'container_services/ingress/index', locals: { return_to: 'service', ingress_rules: service.ingress_rules, is_public: service.public_network? } %>
</div>
