<div class="modal" id="view-setting-<%= setting.id %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left">
        <div style="font-size:12px;">
          <small><%= setting.label.nil? ? setting.name.gsub("_"," ").capitalize : setting.label %></small>
        </div>
        <pre><%= setting.value %></pre>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
          Close
        </button>
      </div>
    </div>
  </div>
</div>