<div class="col-sm-6">
  <%= render partial: "container_services/show/top/name" %>
</div>
<div class="col-sm-6 text-right hidden-xs">
  <%= render partial: "container_services/show/top/buttons" %>
</div>
<div class="col-xs-12 visible-xs" style="margin-bottom:20px;">
  <%= render partial: "container_services/show/top/buttons" %>
</div>
