<% if @active.nil? %>
  <i class="fa-solid fa-link-slash fa-lg" title="Disconnected"></i>
<% elsif @active %>
  <span class="fa-stack fa-md">
    <i class="fa-solid fa-circle fa-stack-2x text-success"></i>
    <i class="fa-solid fa-check fa-stack-1x fa-inverse"></i>
  </span>
<% else %>
  <i class="fa-solid fa-ban text-danger fa-lg" title="Connection Failed"></i>
<% end %>
