<table class="table">
  <thead>
    <tr>
      <th>Volume</th>
      <th>Name</th>
      <th>Service</th>
    </tr>
  </thead>
  <tbody>
    <% if @volumes.empty? %>
      <tr><td class="text-center" colspan="3">No Volumes Found</td></tr>
    <% end %>
    <% @volumes.each do |i| %>
      <%
        service = Deployment::ContainerService.find_by(name: i['service'])
        volume = Volume.find_by(name: i['volume'])
      %>
      <tr>
        <td><%= volume ? link_to(truncate(i['volume'], length: 30), "/admin/volumes/#{volume.id}") : truncate(i['volume'], length: 30) %></td>
        <td><%= truncate(i['label'], length: 30) %></td>
        <td><%= service ? link_to(i['service'], admin_deployments_path(service.deployment)) : i['service'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
