<%= render partial: 'admin/layouts/shared/containers_nav' %>


<div class="row">
  <div class="col-md-12">
    <p class="lead">Domain Routing</p>
  </div>
</div>

<div class="row"><%= render partial: "admin/container_domains/index/filter" %></div>

<hr />

<div class="row"><%= render partial: "admin/container_domains/index/list" %></div>

<div class="row">
  <div class="col-md-12">
    <%= will_paginate @domains %>
  </div>
</div>
