<% unless request.xhr? %>
  <% content_for :breadcrumb do %>
    <div class="row has-breadcrumb">
      <ol class="breadcrumb">
        <li><%= link_to t('obj.registry'), "/admin/container_registry" %></li>
        <li><%= link_to @registry.label, "/admin/container_registry/#{@registry.id}" %></li>
        <li class="active">Collaborators</li>
      </ol>
    </div>
  <% end %>
<% end %>

<%= render partial: 'collaborators/index', locals: { resource: @registry, collaborators: @collaborators, base_path: "/admin/container_registry/#{@registry.id}/collaborators" } %>

