<p class="lead"><%= t 'users.security_key_auth.new.authy.title' %></p>
<div class="form-group">
  <label for="authResponse"><%= t 'users.authy.edit.token' %></label>
  <input id="authResponse" type="text" class="form-control" name="response" autofocus="autofocus" autocorrect="off" autocapitalize="off" spellcheck="false" autocomplete="off">
</div>
