<input type="hidden" id="publicKeyCredential" name="publicKeyCredential">
<input type="hidden" id="requestData" name="requestData" value="<%= @request_data %>">
<p class="lead">Please insert your Security Key and press Authenticate</p>
<%= image_tag "/webauthn.svg", width: 150, alt: "Security Key" %>
<%# image_tag "#{CS_CDN_URL}/images/webauthn.svg", width: 150, alt: "Security Key" %>
