<div class="form-group">
  <label for="authResponse" class="lead"><%= t 'users.totp.form.code' %></label>
  <input id="authResponse" type="text" class="form-control" name="response" autofocus="autofocus" autocorrect="off" autocapitalize="off" spellcheck="false" autocomplete="off">
</div>
