<%= render partial: "deployments/shared/main_nav" %>

<div class="row remote-resource refresh" data-url="/deployments" style="margin-top:10px;">
  <noscript><%= t 'noscript' %></noscript>
  <div class="text-center" style="font-weight:300;font-size:16px;"><%= t '.loading' %></div>
</div>
