<% content_for :breadcrumb do %>
  <div class="row has-breadcrumb">
    <ol class="breadcrumb">
      <% if @deployment %>
        <li><%= link_to t('obj.deployments'), "/deployments" %></li>
        <li><%= link_to @deployment.name, deployments_path(@deployment) %></li>
      <% end %>
      <li class="active"><%= t 'container_services.certificates.breadcrumb.index' %></li>
    </ol>
  </div>
<% end %>

<%= render partial: "deployments/certificates/list", locals: { deployment: @deployment, certs: @certs, le_domains: @le_domains } %>