<% content_for :breadcrumb do %>
  <div class="row has-breadcrumb">
    <ol class="breadcrumb">
      <li><%= link_to "Events", "/admin/event_logs" %></li>
      <li class="active">Event: <%= @log.id %></li>
    </ol>
  </div>
<% end %>

<%= render partial: "admin/event_logs/show", locals: { log: @log, subscribers: @subscribers } %>