<div class="modal">
  <div class="modal-header" style="text-align:center;">
    <h2>Error!</h2>
  </div>
  <div class="modal-body">
    <h1>Looks like the portal hasn't been setup yet!</h1>
  </div>
</div>